.visa-container {
    width: 100%;
    max-width: 800px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    font-family: Arial, sans-serif;
    background-color: #fff;
}

.header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.header-left img {
    width: 70px !important;
    margin: 0;
    margin-bottom: 10px;
}

.header-right img {
    width: 150px;
    object-fit: cover;
}

.visa-info {
    display: flex;
    margin-bottom: 20px;
}

.photo-column {
    width: 100%;
    flex: 1;
    text-align: center;
}

.photo-column img {
    width: 150px;
    height: 150px;
    object-fit: cover;
}

.info-column {
    flex: 2;
    padding-right: 20px;
}

.visa-row,
.info-row {
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
    border-bottom: 1px solid #ccc;
}

.label,
.label-ar {
    width: 30%;
    font-weight: bold;
}

.value {
    width: 40%;
    text-align: center;
}

.label-ar {
    text-align: right;
}

.barcode-info {
    text-align: center;
    margin-top: 20px;
}

.barcode-info img {
    width: 300px;
    height: 80px;
}

.note {
    text-align: center;
    font-size: 12px;
    color: red;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.button-container button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.button-container button:hover {
    background-color: #45a049;
}

.visa-row div:nth-child(2),
.info-row .value {
    color: #bd10bd;
}

.checkmarks-row {
    text-align: center;
    margin: 20px 0;
}

.checkmark {

    font-size: 24px;
    /* حجم أصغر لعلامة الصح */
    margin: 0 10px;
    font-weight: bolder;
    /* جعل العلامات عريضة */
}

/* الألوان المتناوبة */
.checkmark-2 {
    color: #bd10bd;

}

.checkmark-1 {
    color: #dc8adc;

}