<div class="moamla-container my-4">
  <div class="moamla-header">
    <h2>استفسار عن طلبات التأشيرات</h2>
  </div>
  <div class="service-description">
    <div class="service-title">
      <h3>تتيح هذه الخدمة الإلكترونية للمواطنين والمقيمين إمكانية الاستعلام عن حالة المعاملات في الأحوال المدنية</h3>
    </div>
  </div>

  <!-- Display error message if inquiryResult is not null -->
  <h4 *ngIf="inquiryResult" class="error-message text-danger">{{ inquiryResult }}</h4>

  <div class="form-container" *ngIf="moamlaForm">
    <form [formGroup]="moamlaForm" (ngSubmit)="submitForm()">
      <div class="form-group">
        <label for="transactionNumber">رقم المعاملة</label>
        <input type="text" class="form-control" id="transactionNumber" formControlName="transactionNumber"
          placeholder="الرجاء إدخال رقم المعاملة" />
        <div *ngIf="moamlaForm.get('transactionNumber')?.touched && moamlaForm.get('transactionNumber')?.invalid">
          <small *ngIf="moamlaForm.get('transactionNumber')?.errors?.['required']">رقم المعاملة مطلوب</small>
        </div>
      </div>

      <div class="form-group">
        <label for="captcha">الرمز المرئي</label>
        <div class="captcha-container">
          <div class="captcha-image">
            <span *ngFor="let item of captchaText" [style.color]="item.color">{{ item.char }}</span>
          </div> <button type="button" class="refresh-icon" (click)="generateCaptcha()">&#8635;</button>
        </div>
        <input type="text" class="form-control" id="captcha" formControlName="captcha"
          placeholder="الرجاء إدخال الرمز المرئي" />
        <div *ngIf="moamlaForm.get('captcha')?.touched && moamlaForm.get('captcha')?.invalid">
          <small *ngIf="moamlaForm.get('captcha')?.errors?.['required']">الرمز المرئي مطلوب</small>
        </div>
      </div>

      <div class="form-actions">
        <button type="submit" class="btn btn-primary" [disabled]="moamlaForm.invalid">عرض</button>
        <button type="button" class="btn btn-secondary" (click)="clearForm()">مسح</button>
      </div>
    </form>
  </div>
</div>